.shelf{
    width: 100%;
    min-height: calc(100vh - 5rem);
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.feedback{
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(17, 51, 85);
}